body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-cursive {
  color: #2e2f42;
}
.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #14141a;
}
/*-------- hero-------*/
.hero {
  background: rgba(17, 17, 17, 0.6);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-butn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
